name: Tests
on: [push, pull_request]
env:
  GOVERSION: "1.19"
  SKEEMA_TEST_IMAGES: "mysql:5.7,mysql:8.0,mariadb:10.11"
jobs:
  test:
    name: Check code quality and run tests
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{env.GOVERSION}}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Run gofmt
        run: test -z "$(gofmt -s -d *.go internal/*/*.go 2>&1)"

      - name: Run golint if a PR
        if: github.event_name == 'pull_request'
        run: go install golang.org/x/lint/golint && go list -f '{{.Dir}}' ./... | xargs golint -set_exit_status
        
      - name: Run go vet
        run: go vet ./...
          
      - name: Run tests
        run: go test -v -p 1 -coverprofile=coverage.out -coverpkg=./... ./...
      
      - name: Report coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go install github.com/mattn/goveralls && goveralls -v -coverprofile=coverage.out -service=github

  release:
    name: Build and deploy new release
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Set up latest Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.*

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GH_GORELEASER_PAT }}

